<h1 class="text-center mt-4 text-white fw-bold" >Listing all articles</h1>
<% @articles.each do |article| %>
  <div class="card text-center card shadow mb-5 bg-body rounded">
    <div class="card-header bg-light bg-gradient">
      <ul class="nav nav-pills card-header-pills d-grid gap-2 d-md-flex justify-content-md-end">
        <li class="nav-item">
          <%= link_to 'Show', article_path(article), class: "btn btn-outline-primary btn-sm" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-success btn-sm" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Delete', article_path(article), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title fs-2" ><%= link_to article.title, article_path(article), class: "text-decoration-none text-dark" %></h5>
      <p class="card-text fs-5"><%= truncate(article.description, length: 100) %></p>
    </div>
    <div class="card-footer text-muted fs-6 bg-light bg-gradient">
      Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago 
      <span class="fst-italic">
        by me
      </span>
    </div>
  </div>
<% end %>
